html {
	width: 100%;
	height: 100%;
	font-size: 10px;
}

body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: Tahoma, Helvetica, Arial, sans-serif;
}

h1 {
	margin: 2rem 47rem;
	padding: 0.5rem 0;
	border: 1px solid #999;
	border-radius: 0.3rem;
	font-size: 3rem;
	cursor: pointer;
	transition: margin 0.5s;
}

h1:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

h2 {
	text-align: center;
	font-size: 2.7rem;
}

p {
	font-size: 1.7rem;
}

article {
	font-size: 1.5rem;
}

article p {
	line-height: 1.5;
	text-indent: 2em;
	color: #333;
}

blockquote {
  margin: 1rem;
  padding: 0.1rem 1rem;
  border-left: 0.3rem solid #e73;
  background-color: #eee;
}

blockquote p {
	text-indent: 0;
}

em {
	text-decoration: underline;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
}

.create-time {
  font-size: 1.4rem;
  text-align: center;
  color: #bbb;
}

/* header >>> */
header {
	position: relative;
	float: left;
	display: table;
	width: 100%;
	height: 100%;
	font-size: 1.5rem;
	color: #fff;
	background: #333 url(res/img/header-bg.jpg);
	background-size: cover;
	transition: width 0.5s;
}

.side-header {
	width: 30%;
}

.side-h1 {
	padding: 0.3rem 0;
	margin: 2rem 10rem;
}

header .header-content {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	z-index: 1;
	width: 100%;
	min-width: 20rem;
	text-align: center;
}

header .header-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	background: rgba(68, 68, 68, 0.5);
  -webkit-background-image: linear-gradient(140deg,rgba(68, 68, 68, 0.6) 20%, rgba(0, 0, 0, 0.9));
				  background-image: linear-gradient(140deg,rgba(68, 68, 68, 0.6) 20%, rgba(0, 0, 0, 0.9));
}

.header-content .headimg {
	width: 12rem;
	height: 12rem;
	border: 3px solid #eee;
	border-radius: 50%;
	cursor: pointer;
	transition: border 0.5s;
}

.header-content .headimg:hover {
	border: 3px solid #8be;
}

.header-content .path-link {
	padding-left: 1rem;
	margin-right: 1rem;
	border-left: 0.3rem solid #8be;
	font-size: 1.7rem;
	color: #fff;
}
/* <<< header */

/* content >>> */
.content {
	display: flex;
	flex-direction: column;
	float: left;
	overflow: auto;
	box-sizing: border-box;
	width: 70%;
	height: 100%;
	padding: 0 5%;
	padding-top: 5rem;
}

.content .content-body {
	flex: 1 0 auto;
}

.content::-webkit-scrollbar {
	width: 0.5rem;
}

.content::-webkit-scrollbar-thumb {
	background-color: #8be;
}

/* blog nav >>> */
.blog-nav {
	flex: 0 0 auto;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	right: 0;
	width: 70%;
	height: 5rem;
	padding: 1rem 5rem;
	border-bottom: 1px solid #ddd;
	line-height: 2;
	background-color: #fff;
	-webkit-transform: translateY(-5rem);
					transform: translateY(-5rem);
	transition: transform 0.5s;
}

.side-blog-nav {
	-webkit-transform: translateY(0);
					transform: translateY(0);
}

.blog-nav li {
	display: inline-block;
	min-width: 3rem;
	padding: 0 1rem;
	margin: 0 0.5rem;
	text-align: center;
	list-style: none;
	font-size: 1.5rem;
	cursor: pointer;
}

.blog-nav li:hover {
	border-bottom: 1px solid #999;
}

.blog-nav .active {
	border-bottom: 4px solid #8be !important;
	font-weight: 700;
	color: #8be;
	-webkit-transform: translateY(-2px);
					transform: translateY(-2px);
}
/* <<< blog nav */

/* article list >>> */
.article-list {
	margin-top: 1rem;
	padding-bottom: 5rem;
}

.article-list h2 {
	padding-top: 2rem;
	margin-top: 0;
	margin-bottom: 1rem;
}
/* <<< article list*/
/* <<< content */

/* footer >>> */
footer {
	flex: 0 0 auto;
	height: 5rem;
	border-top: 1px solid #ddd;
}
/* >>> footer */

/* animate >>> */

/* <<< animate */

.v-link-active {
	
}
