html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: Tahoma, Helvetica, Arial, sans-serif;
}

h2 {
	text-align: center;
}

blockquote {
  margin: 1.5em;
  padding-left: 1.5em;
  border-left: solid 3px #e73;
}

/* header >>> */
header {
	position: relative;
	float: left;
	display: table;
	width: 25%;
	height: 100%;
	color: #fff;
	background: #333 url(res/header-bg.jpg);
	background-size: cover;
}

header .header-content {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	z-index: 1;
	width: 100%;
	min-width: 200px;
	text-align: center;
}

header .header-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	background: rgba(68, 68, 68, 0.5);
  -webkit-background-image: linear-gradient(140deg,rgba(68, 68, 68, 0.6) 20%, rgba(0, 0, 0, 0.9));
				  background-image: linear-gradient(140deg,rgba(68, 68, 68, 0.6) 20%, rgba(0, 0, 0, 0.9));
}

.header-content .headimg {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.header-content .hr {
	margin-top: 25px;
	margin-bottom: 25px;
	border: none;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.header-content .hr-h1 {
	width: 50%;
}

.header-content .hr-better {
	width: 15%;
}
/* <<< header */

/* content >>> */
.content {
	float: left;
	box-sizing: border-box;
	width: 70%;
	height: 100%;
	padding: 2% 5%;
	overflow: auto;
}

.content > * {
	max-width: calc(100% - 7px);
}

.content::-webkit-scrollbar {
	width: 7px;
}

.content::-webkit-scrollbar-thumb {
	background-color: #999;
}

/* article list >>> */
.article-list dd {
  border-bottom: 1px solid #bbb;
	margin-left: 0;
}

.article-list dd:hover {
	border-bottom-color: transparent;
	background-color: #cdd;
	cursor: pointer;
}

.article-list h2 {
	padding-top: 20px;
	margin-top: 0;
	margin-bottom: 10px;
}

.article-list em {
	display: block;
	font-size: 12px;
	text-align: center;
	color: #999;
}
/* <<< article list*/
/* article content >>> */
article p {
	line-height: 1.7;
	text-indent: 2em;
	color: #666;
}

blockquote p {
	text-indent: inherit;
}
/* <<< article content */

/* <<< content */

/* more >>> */
.more {
	float: left;
	position: relative;
	width: 5%;
	height: 100%;
	text-align: center;
	color: #fff;
	background-color: #333;
}

/* footer >>> */
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}
/* >>> footer */
/* >>> more */
