/* tool start */
.position-vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.transition-color-btn {
  padding: 0.3em 1em;
  border-radius: 3px;
  font-size: 14px;
  transition-property: color, background-color;
  transition-duration: 0.3s;
}
.js-inmobile[data-dpr='2'] .transition-color-btn {
  font-size: 28px;
}
.js-inmobile[data-dpr='3'] .transition-color-btn {
  font-size: 42px;
}
.center-prompt-message {
  text-align: center;
  color: #999;
}
/* tool end */

/* app start */
.app-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 900px;
  min-height: 100%;
  margin: 0 auto;
}
.js-inmobile .app-wrapper {
  width: 96%;
}
.app-header {
  flex: 0 0 auto;
  position: relative;
}
.app-header nav {
  display: inline-block;
  font-size: 14px;
  vertical-align: text-bottom;
}
.js-inmobile .app-header nav {
  display: flex;
  margin-bottom: 1em;
}
.js-inmobile[data-dpr="2"] .app-header nav {
  font-size: 28px;
}
.js-inmobile[data-dpr="3"] .app-header nav {
  font-size: 42px;
}
.app-header nav a {
  display: table-cell;
  position: relative;
  width: 6em;
  text-align: center;
}
.js-inmobile .app-header nav a {
  width: 33.33%;
}
.app-header nav a:hover,
.app-header nav .router-link-active {
  /*color: #0097da;*/
}
.app-header nav a::before {
  content: '';
  position: absolute;
  left: 0; bottom: -1px;
  z-index: 1;
  width: 100%; height: 0;
  border-bottom: 3px solid #33ace1;
  transform: scaleX(0);
  transition: transform .3s ease;
}
.js-inmobile[data-dpr='2'] .app-header nav a::before {
  border-bottom-width: 6px;
}
.js-inmobile[data-dpr='3'] .app-header nav a::before {
  border-bottom-width: 9px;
}
.app-header nav a:hover::before,
.app-header nav .router-link-active::before {
  transform: scaleX(1);
}
.js-inmobile .app-header nav .router-link-active::before {
  transform: scaleX(0.7);
}
.app-container {
  flex: 1 0 auto;
  position: relative;
  border-radius: 1em;
}
.app-footer {
  flex: 0 0 auto;
  position: relative;
  font-size: 14px;
  text-align: center;
  color: #999;
}
.js-inmobile[data-dpr="2"] .app-footer {
  font-size: 28px;
}
.js-inmobile[data-dpr="3"] .app-footer {
  font-size: 42px;
}

.app-tools__top {
  display: none;
  position: fixed;
  bottom: 36px;
  color: #fcfcfc;
  cursor: pointer;
}
.app-tools__top:hover {
  color: #f7f7f7;
}
.app-tools__top:active {
  color: #f0f0f0;
}
.app-tools__top svg {
  fill: currentColor;
  width: 32px; height: 32px;
}

.dashed::before {
  content: '';
  position: absolute;
  left: 1em; right: 1em;
  z-index: 1;
  border-bottom: 1px dashed #ccc;
}
.js-inmobile[data-dpr='2'] .dashed::before {
  border-bottom-width: 2px;
}
.js-inmobile[data-dpr='3'] .dashed::before {
  border-bottom-width: 3px;
}
.dashed-top::before {
  top: -1px;
}
.dashed-bottom::before {
  bottom: -1px;
}
.dashed-thin::before {
  border-bottom-width: 1px;
}
.js-inmobile[data-dpr='2'] .dashed-thin::before {
  border-bottom-width: 2px;
}
.js-inmobile[data-dpr='3'] .dashed-thin::before {
  border-bottom-width: 3px;
}
