article {
  position: relative;
  padding: 3em 5em;
}
.js-inmobile article {
  padding: 2em 1em;
}
article h3 {
  position: relative;
  padding-top: 1em;
  border-bottom: 1px solid #eee;
  font-size: 20px;
  text-align: center;
  text-indent: 0.5em;
}
.js-inmobile[data-dpr='2'] article h3 {
  font-size: 40px;
}
.js-inmobile[data-dpr='3'] article h3 {
  font-size: 60px;
}
article h4 {
  position: relative;
  padding-left: 0.7em;
  font-size: 18px;
}
article h4::before {
  content: '';
  position: absolute;
  top: 0.2em; bottom: 0.2em; left: 0;
  width: 0.2em;
  border-radius: 0.4em;
  background-color: #ff8a0c;
}
.js-inmobile[data-dpr='2'] article h4 {
  font-size: 36px;
}
.js-inmobile[data-dpr='3'] article h4 {
  font-size: 54px;
}
.js-inmobile[data-dpr='1'] article ul,
.js-inmobile[data-dpr='1'] article ol {
  padding-left: 1.3em;
}
article a {
  padding-bottom: 0.15em;
  color: #4078c0;
}
article a:hover {
  color: #1d80d3;
  border-bottom: 1px solid currentColor;
}
article img {
  display: block;
  margin: 0 auto;
  border-radius: 1em;
  max-width: 100%;
}
article blockquote {
  position: relative;
  padding: 1em 1.5em;
  margin: 0;
  border-radius: 0.5em;
  font-size: 14px;
  color: #666;
  background-color: #f3f3f3;
}
.js-inmobile[data-dpr='2'] article blockquote {
  font-size: 28px;
}
.js-inmobile[data-dpr='3'] article blockquote {
  font-size: 42px;
}
.article-list__item article blockquote {
  padding: 0;
  margin-top: -0.5em; margin-bottom: 1.5em;
  background-color: transparent;
}
article blockquote p {
  margin: 0;
}
article blockquote code {
  background-color: #e7e7e7;
}
article strong {
  padding-bottom: 0.15em;
  border-bottom: 1px solid currentColor;
}
article pre {
  max-height: 50em;
  padding: 16px;
  border: 1px dotted #999;
  border-radius: 0.5em;
  font-size: 12px;
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
@media screen and (max-device-height: 736px) {
  article pre {
    max-height: 40em;
  }
}
@media screen and (max-device-height: 568px) {
  article pre {
    max-height: 30em;
  }
}
.js-inmobile[data-dpr='2'] article pre {
  font-size: 24px;
  border-width: 2px;
}
.js-inmobile[data-dpr='3'] article pre {
  font-size: 36px;
  border-width: 3px;
}
article pre::-webkit-scrollbar {
  width: 7px; height: 7px;
  background-color: transparent;
}
article pre::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: #ddd;
}
article pre::-webkit-scrollbar-corner {
  background-color: #fff;
}
article code {
  padding: 0.2em 0.5em;
  border-radius: 0.3em;
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: inherit;
  background-color: #f0f0f0;
}
.js-inmobile[data-dpr='2'] article code {
  font-size: 24px;
}
.js-inmobile[data-dpr='3'] article code {
  font-size: 36px;
}
article pre code {
  padding: 0;
  border: none;
  background: transparent;
}

article .article-labels {
  position: absolute;
  top: 0; left: 1em; right: 1em;
  z-index: 2;
  text-indent: 3px;
  letter-spacing: 3px;
}
article .article-label {
  float: left;
  padding: 0 0.5em;
  border-bottom: none;
  margin-right: 1em;
  border-radius: 0 0 0.5em 0.5em;
  font-size: 14px;
  color: #fff;
  background-color: #ccc;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
}
.js-inmobile[data-dpr='2'] article .article-label {
  font-size: 28px;
}
.js-inmobile[data-dpr='3'] article .article-label {
  font-size: 42px;
}
article .article-label:hover {
  color: #fff;
}
article .label-00a0e9 {
  background-color: #00a0e9;
}
article .label-00a0e9:hover {
  background-color: #33b3ed;
}
article .label-00a0e9:active {
  background-color: #0098dd;
}
article .label-60be29 {
  background-color: #60be29;
}
article .label-60be29:hover {
  background-color: #80cb54;
}
article .label-60be29:active {
  background-color: #5bb527;
}
article .label-ff6100 {
  background-color: #ff6100;
}
article .label-ff6100:hover {
  background-color: #ff8133;
}
article .label-ff6100:active {
  background-color: #f25c00;
}

.issues-content li p,
.issues-content blockquote p {
  margin-left: 0; margin-right: 0;
}

.issues-content__title {
  position: relative;
  margin-top: 0.5em; margin-bottom: 0;
  text-align: center;
}
.js-inmobile .issues-content__title {
  text-align: left;
}
.issues-content__title a {
  display: inline-block;
  padding-bottom: 0.5em;
  border-bottom: none;
  font-size: 22px;
  color: #333;
}
.issues-content__title a:hover {
  border-bottom: none;
  color: #333;
  background: url(../img/icon-go.png) no-repeat center 1.3em;
  background-size: 32px;
}
.js-inmobile .issues-content__title a {
  padding-bottom: 0;
  line-height: 1.5;
}
.js-inmobile .issues-content__title a:hover {
  background: none;
}
.js-inmobile[data-dpr='2'] .issues-content__title a {
  font-size: 44px;
}
.js-inmobile[data-dpr='3'] .issues-content__title a {
  font-size: 66px;
}
.issues-content__time {
  margin-top: 0;
  font-size: 12px;
  text-align: center;
  color: #999;
}
.js-inmobile .issues-content__time {
  margin-bottom: 1em;
  text-align: left;
}
.js-inmobile[data-dpr='2'] .issues-content__time {
  font-size: 24px;
}
.js-inmobile[data-dpr='3'] .issues-content__time {
  font-size: 36px;
}
