html {
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;

}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  position: relative;
  height: 100%;
  margin-left: calc(100vw - 100%);
  font: 16px/2 "PingFang SC", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial,sans-serif;
  word-wrap: break-word;
  color: #333;
}
h1 {
  display: inline-block;
  padding: 0 1em;
  font-size: 24px;
}
.js-inmobile h1 {
  display: block;
  margin: 0;
  text-align: center;
}
.js-inmobile[data-dpr='2'] h1 {
  font-size: 48px;
}
.js-inmobile[data-dpr='3'] h1 {
  font-size: 72px;
}
a {
  color: #333;
  text-decoration: none;
}
button {
  outline: none;
}
em {
  padding: 0.3em;
  font-size: 14px;
  color: inherit;
}
.js-inmobile[data-dpr='2'] em {
  font-size: 28px;
}
.js-inmobile[data-dpr='3'] em {
  font-size: 42px;
}
ul, ol {
  padding-left: 1.2em;
}
table {
  display: block;
  overflow: auto;
  border-collapse: collapse;
}
table tr {
  background-color: #fff;
  border-top: 1px solid #ccc
}
table tr:nth-child(2n) {
  background-color: #f8f8f8
}
table th,
table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}
